/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  /* IE10 */ 
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #B7DDF2 90%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #B7DDF2 90%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #B7DDF2 90%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.90, #B7DDF2));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #B7DDF2 90%);

  /* Proposed W3C Markup */ 
  background-image: linear-gradient(top, #FFFFFF 0%, #B7DDF2 90%);
  background-attachment:fixed;
}

#container{
  color: #01243B;
  font: 1em arial, verdana, san-serif;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 960px;
  height: 100%;
}
.box{
  border:solid 2px #b7ddf2;
  border-radius: 10px;
  background:#ebf4fb;
}

#user_nav{
  margin-top:.5em;
  padding-top: .8em;
  padding-left: 1em;
  padding-right: 1em;
  float:right;
  height: 2em;
}

#content{
  clear: both;
  padding-bottom: 3em;
}

.button{
  margin: 1em 0 1em 0;
  padding: .5em 1em .5em 1em;
  width:120px;
  border-radius: 5px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#666;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;

}

.button:hover
{
  background-color:#333;
}

#user_status{
  padding-right: 1em;
}

.post{
  clear:both;
  padding: 1em 1em 2em 1em;
  margin-bottom: 1em;
  color: #01243B;
}
.post:hover{
  background: #D7EDF9;
}

.post_title{
  font-size: 1.5em;
  padding-bottom: 1em;
  text-decoration:none;
  color: #01243B;
}

.post_title:hover{
  text-decoration:underline;
}

.post_content{
  padding: 0 0 2em 1em;
}

.post_options{
  clear:both;
  float:right;
}

.flash{
  text-align: center;
  font-size: 1em;
  padding: .5em 0 .5em 0;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 5px;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.view{
  padding-top: 1em;
}

#footer{
clear: both;
float: right;
}
